node_modules
*/node_modules
*/**/node_modules
*/**/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules
*/*/*/*/*/*/node_modules
*/.gitignore
*/*/.gitignore
*/*/*/.gitignore
*/*/*/*/.gitignore
*/*/*/*/*/.gitignore
*/*/*/*/*/*/.gitignore
.eslintrc
.eslintrc
*/.eslintrc
*/*/.eslintrc
*/*/*/.eslintrc
*/*/*/*/.eslintrc
*/*/*/*/*/.eslintrc
*/*/*/*/*/*/.eslintrc
.babelrc
.babelrc
*/.babelrc
*/*/.babelrc
*/*/*/.babelrc
*/*/*/*/.babelrc
*/*/*/*/*/.babelrc
*/*/*/*/*/*/.babelrc
.DS_Store
.DS_Store
/*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
.vscode
.vscode
/*/.vscode
*/*/.vscode
*/*/*/.vscode
*/*/*/*/.vscode
*/*/*/*/*/.vscode
*/*/*/*/*/*/.vscode
