.singleLocation {
  border: 1px solid #2196f3;
}
.weatherInfo p {
  font-size: 1.5em;
  color: #2196f3;
}

.singleLocation .singleUnit {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .singleLocation {
    margin: 0 auto;
    width: 99%;
    border: none;
  }
  .singleUnit {
    min-width: 100px;
  }
}
