body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//avatar githubs

.container {
  display: flex;
  width: 100%;
  .images-container {
    padding: 10px;
    max-width: 80px;
    img {
      width: 100%;
      height: auto;

      border-radius: 50%;
    }
  }
  .text-container {
    h4,
    p {
      margin: 0;
      padding: 0;
    }
    padding: 10px;
  }
}
